//// app global css in SCSS form
@import "index";

body {
  overflow-y: hidden;
}

@media (min-width: 768px) {
  .md\:block {
    display: block !important;
  }
  .md\:flex {
    display: flex !important;
  }
}
@media (min-width: 1024px) {
  .lg\:flex {
    display: flex !important;
  }
  .lg\:block {
    display: block !important;
  }
  .lg\:hidden {
    display: none !important;
  }
}
